app/config/production/*
!app/config/production/config_foo.txt

app/config/development/*
!app/config/development/config_foo.txt

__pycache__

app/__pycache__

app/common/__pycache__
app/common/functions/__pycache__
app/common/integrations/__pycache__

app/entities/__pycache__

venv/*

.idea/*

app/logs/*
!app/logs/logs_foo.txt

